commands:
  01clear-if-unmounted:
    command: if ! mount | grep /media/tiddlers > /dev/nul; then rm -rf /media/tiddlers; fi
  02attach-volume:
    command: aws ec2 attach-volume --region eu-west-2 --volume-id vol-0cf1574418ded92a0 --instance-id $(curl -s http://169.254.169.254/latest/meta-data/instance-id) --device /dev/sdh
    ignoreErrors: true
  03wait:
    command: sleep 10
  04trymount:
    command: |
      mkdir /media/tiddlers
      mount /dev/sdh /media/tiddlers
    ignoreErrors: true
  #05format-if-not-already:
    #command: if find /media/tiddlers -maxdepth 0 -empty | read v; then mkfs -t ext3 /dev/sdh; fi
  #06mount-volume:   
    #command: |
      #mkdir /media/tiddlers
      #mount /dev/sdh /media/tiddlers
